<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dictionary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Dictionary.Properties.Settings>
            <setting name="master" serializeAs="String">
                <value>C:\Users\markus.german\Desktop\master.txt</value>
            </setting>
            <setting name="word" serializeAs="String">
                <value>C:\Users\markus.german\Desktop\word.txt</value>
            </setting>
            <setting name="edge" serializeAs="String">
                <value>C:\Users\markus.german\Desktop\edge.txt</value>
            </setting>
            <setting name="firefox" serializeAs="String">
                <value>C:\Users\markus.german\Desktop\firefox.txt</value>
            </setting>
        </Dictionary.Properties.Settings>
    </applicationSettings>
</configuration>